* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mcd-red-color: #da291c;
  --mcd-yellow-color: #ffc72c;
  --mcd-black-color: #27251f;
  --mcd-white-background: #fff;
}

body {
  font-family: "PT Sans", sans-serif;
}

.main-container {
  background-color: var(--mcd-red-color);
  width: 80%;
  height: 700px;
  padding: 20px 20px 40px 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  justify-content: flex-end;
  align-content: flex-end;
}

.cell {
  background-color: var(--mcd-white-background);
  width: 300px;
  padding: 5px;
  border: 1px dashed #000;
  display: flex;
  gap: 20px;
}

/*Flex container for ofert*/
.message-ofert {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.free {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--mcd-red-color);
}

.off {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 2.3rem;
  color: var(--mcd-red-color);
}

.ham-type {
  width: 60px;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.4rem;
}

.ham-description {
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 0.8rem;
}

.purchase {
  width: 100px;
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--mcd-red-color);
}

/*Flex container for hamburguer*/

.hamburguer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.im-lovin-it {
  width: 30px;
  position: absolute;
}

.ham-img {
  width: 150px;
  height: 120px;
}

.pharagraph {
  font-size: 0.7rem;
}
